.container {
    color: white;
    padding: 2rem;
}

.navContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

@media screen and (max-width:768px) {
    .container {
        padding: 0;
        width: 80%;
        align-items: center;
    }

    .navContainer {
        flex-direction: column;
    }
}


