.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #001233;
  height: 10vh;
  width: 100%;
}

.searchContainer {
  display: flex;
  width: 50rem;
}


.inputContainer{
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 5rem;
}


.navContainer {
  display: flex;
  gap: 2rem; 
  margin-left: auto; 
}


.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.link {
  margin-right: 2rem;
  text-decoration: none;
  color:#8707ff;
}

.link:hover {
  color: #AF40FF;
}

.link:active,
.link:focus {
  color: white
}




