.gridContainer {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5rem;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 2rem;
  align-items: center;
}


.gridItem {
  color: white;
  padding: 0.5rem;
  background-image: radial-gradient(circle, #01050b, #00091a, #060a26, #110a2f, #200535);
  border: 1px solid #ccc;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease-in;
  border-radius: 10px;
  box-shadow: 7px 7px 11px -3px white;
}

.gridItem:hover {
  transform: scale(1.2);
  box-shadow: 14px 14px 11px -3px #8707ff;
  border: 1px solid #8707ff;
}

img {
  width: 5rem
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in;
}

.link:hover {
  color: #8707ff;
  transform: scale(1.1);
}